@import "tailwindcss";

@theme inline {
  --color-vinito-red: #C54329;
  --color-vinito-blue: #6F889A;
  --color-vinito-pink: #F8AAC1;
  --color-vinito-black: #202020;
  --color-vinito-cream: #ECEEE1;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
  --font-display: var(--font-abril), ui-serif, Georgia, serif;
}

body {
  background-color: var(--color-vinito-cream);
  color: var(--color-vinito-black);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
